* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, 
    sans-serif;
    color: #00f5d4;
    background-image: url('/pexels-asad-photo-maldives-3293148.jpg');
}

img {
    width: 350px;
    border-radius: 100px;
    box-shadow: inset 0 0 1em gold, 0 0 1em #00f5d4;
    margin: 10px;
}

div {
    text-align: center;
}

h1 {
    text-align:center ;
    padding: 20px;
    
}

p {
    margin: 15px;
}

h3 {
    margin: 20px;
}

a {
    color: #00f5d4;
    text-align: center;
    list-style: none;
}